
.center-content{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    
  }
  .couleur{
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    
  }
  body{
    background-color: rgb(161, 184, 228);
  }